@font-face {
  font-family: "digifaw";
  src: url('./digifaw.ttf') format("truetype");
}
#currentInfo {
  color: white;
  font-size: 35px;
  display: flex;
  justify-content: space-around;
  .p {
    .num {
      font-family: "digifaw", sans-serif;
      color: #ff792d;
    }
  }
}