/* Layout Related */
.logoLayer {
	height: 65;
	background-color: #3756A6;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid #FFF;
	width: 208px;
}
.topLinkLayer {
	background-image: url(/crm/images/top_grad.gif);
	background-position: right;
}
.topBorder {
	border-bottom: 1px solid #FFD125;
}
.topBarLayer {
	background-image: url(/crm/images/elegant/topbar.gif);
	height: 17;
}
.menuLayer {
	background-color: #A3BAE1;
	vertical-align: bottom;
}
.sideBarLayer {
	background: #F5F5F5;
	vertical-align: top;
}
.sideBarLayerOpera {
	background: #F5F5F5;
	vertical-align: top;
	border-right: 1px solid #E0E0E0;
}
.resizeLayerBorder {
	width: 3px;
	border-left: 1px solid #D5D5D5;
	border-right: 1px solid #AAA;
}
.resizeLayer {
	width: auto;
	height: 100%;
	border-left: 1px solid #FFF;
	background: #D8E2F3;
}
.subMenuLayer {
	padding-left: 2;
	height: 20;
	background-color: #F0F0F0;
	border-bottom: 1px solid #E0E0E0;
}
.mainLayer, .footerLayer {
	vertical-align: top;
	padding: 10;
	background-color: #FFF;
}
.setUpSideBarLayer {
	padding: 2px;
	width: 203px;
	vertical-align: top;
	background: #F5F5F5;
	border-right: 1px solid #D5D5D5;
}

/* General */
BODY {
	margin: 0 0 0 0;
}

UL {
	margin: 0 0 2 5;
	padding: 0 0 2 5;
	list-style: none;
}

LI {
	background: url(/crm/images/bullet.gif) no-repeat left center;
	padding: 1 0 1 12;
}

.bodyText, .link, .sep, .topLink, .label, .value , .evenBg{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}
.bodyText {
	color: #000;
}
.small {
	font-size: 10px;
}
.bold {
	font-weight: bold;
}
.label {
	color: #000;
	text-align: right;
	background-color: #f0f0f0;
   	padding: 4;
	vertical-align: top;
}
.evenBg{
	color: #000;
        background-color: #f0f0f0;
        padding: 4;
	font-weight: bold;
        vertical-align: top;
}
.mandatory {
	color: #900;
	font-weight: bold;
}

.value {
    	background-color: #e0e0e0;
    	padding: 4;
	font-weight: bold;
	vertical-align: top;
}
.element {
	vertical-align: top;
	padding-top: 1;
}
.elementReadOnly {
	vertical-align: top;
	padding-top: 4;
}
.dim {
	color: #666;
}
.disabled {
	color: #CCC;
}
.link {
	color: #21449C;
}
.link:hover {
	color: #000;
}

.sep {
	color: #999;
}

.topLink {
	color: #000;
	text-decoration: none;
}
.topLink:hover {
	text-decoration: underline;
}

.subMenuLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #21449C;
	text-decoration: none;
}
.subMenuLink:hover {
	text-decoration: underline;
}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}

.relListHead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
.relListHead:hover {
	text-decoration: underline;
}

.alphaBg, .alphaBgSel, .alphaBgDis {
	height: 18;
	width: 18;
	border: 1px solid #D0D0D0;
	background: #FFF;
}
.alphaBgSel {
	background: #B7C9E8;
}

.uline {
	border-bottom: 1px solid #B7C9E8;
}
.hline {
	height: 1;
	border-bottom: 1px solid #FFD125;
}
.pointer {
	cursor: hand;
	cursor: pointer;
}
.vGap {
	height: 7px;
}

.menuOn, .menuOff {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
.menuOn {
	color: #FFF;
}
.menuOff {
 	color: #000;
}
.menuOn:hover {
	text-decoration: underline;
}
.menuOff:hover {
	text-decoration: underline;
}

.menuOnBg {
	background-color: #223568;
	text-align: center;
	border-bottom: 1px solid #223568;
}
.menuOffBg {
	text-align: center;
	padding: 0 10 0 10;
}

.footer {
	padding-top: 5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999;
}
.footerLink {
	padding: 0 5 0 5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #21449C;
	text-decoration: none;
}
.footerLink:hover {
	text-decoration: underline;
}

.popupHead, .lookupHead {
	border-bottom: 1px solid #375676;
	background-color: #4E70BA;
	height: 25px;
	padding-left: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
}
.lookupHead {
	height: 40px;
}
.secHead {
	height: 20px;
	background-color: #4E70BA;
	border-bottom: 1px solid #375676;
	border-right: 1px solid #375676;
	padding-left: 3;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
}
.secContent {
	border-left: 1px solid #B7C9E8;
	border-right: 1px solid #B7C9E8;
	border-bottom: 1px solid #B7C9E8;
	background: #FFF;
}
.bg {
	background-color: #F5F5F5;
}
.buttonLayer {
	height: 22px;
	background-color: #CCD9EE;
}

.helpLayer {
	background-color: #FFFFE6;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 2 2 2 2;
	margin: 5 10 5 10;
}
.shortcutLayer {
	margin: 5;
	background-color: #FFF;
	border: 1px solid #CCC;
}
.message {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #F00;
}
.msgInfo, .msgWarning, .msgError {
	border: 1px solid #000;
	background: #FFFFE1 url(/crm/images/info.gif) no-repeat 4px 4px;
	padding: 2 0 0 20;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000;
}
.msgWarning {
	background: #FFFFE1 url(/crm/images/warning.gif) no-repeat 4px 4px;
}
.msgError {
	border: none;
	background: #FFF url(/crm/images/error.gif) no-repeat 4px 4px;
	font-weight: bold;
}

.msgBigInfo {
        height: 35px;
        vertical-align: top;
	background: #FFF url(/crm/images/info_big.gif) no-repeat 1px 1px;
        padding: 5 0 0 30;
	font-weight: bold;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;
}

/* HTML Elements */
.textField, .select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #CCC;
}

.button, .dropDownButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 1px;
	border-width: 2px;
	background-color: #3756A6;
	font-weight: bold;
	color: #FFF;
}

.dropDownButton {
	padding-right: 8;
	background: #3756A6 url(/crm/images/dropdown.gif) right no-repeat;
}

/* Drop Down Menu */
.dropDownMenu {
	position:absolute;
	border: 1px solid #CCC;
	background-color: #FFF;
	z-index: 10;
}
.dropDownItem,.dropDownItemOver {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	cursor: hand;
	cursor: pointer;
}
.dropDownItemOver {
	background-color: #CCD9EE;
}

/* Table Component */
.tableHeadBg {
	height: 22px;
	background-color: #CCD9EE;
}
.tableHead {
	padding-left: 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
}
A.tableHead {
	text-decoration: none;
}
A.tableHead:hover {
	text-decoration: underline;
}
.tableData {
	padding-left: 3px;
	height: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFF;
}
.tableRowSep {
	height: 1px;
	background-color: #D3DEF0;
}

/* Search Component Related */
.searchMatchText {
	width: 25;
	background: transparent;
	border: 0px;
	font-size: 11px;
	text-align:right;
}

.searchFormatText {
	background: transparent;
	border: 0px;
	font-size: 11px;
}

.searchTROdd {

}

.searchTREven {

}

.searchHide {
	display: none;
}

/* Page Layout Related */
.moveLayer {
        position: absolute;
        left: -1000px;
        top: -1000px;
        z-index: 10;
        /*height: 17;
        width: 100;*/
        height: 22px;
        width: 139px;
        padding: 3;
        /*background-color: #9C9;*/
        background: url(/crm/images/added.gif) no-repeat left;
        border: 2px dotted #000000;
        text-align: center;
        font-family: Verdana, Arial, Helvetica, San-serif;
        font-size: 11px;
        cursor: move;
}


.fieldSecHead {
	height: 20px;
	background-color: #4E70BA;
	border-bottom: 1px solid #375676;
	border-right: 1px solid #375676;
}

.section, .modeLink, A.modeLink {
	font-family: Verdana, Arial, Helvetica, San-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFF;
}

.modeLink {
	padding: 0 2 0 2;
	color: #CCC;
}
.field {
	font-family: Verdana, Arial, Helvetica, San-serif;
	font-size: 11px;
	height: 22px;
	width: 139px;
	padding-left: 25px;
/*	padding: 0 15 0 15; 
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	*/
}

.dummy {
	background: #FFF;
	width: 100%;
}

.handle {
	height: 2px;
	border: none;
}

.required {
	font-weight: bold;
	background: url(/crm/images/pagelayout_required.gif) no-repeat left;
}

.required_long {
	font-weight: bold;
	background: url(/crm/images/long_required.gif) no-repeat left;
}


.readonly {
	background: url(/crm/images/pagelayout_readonly.gif) no-repeat left;
}

.readonly_long {
	background: url(/crm/images/long_readonly.gif) no-repeat left;
}


.always {
	font-weight: bold;
}

.selected {
	/*background-color: #9C9;*/
	background: url(/crm/images/select.gif) no-repeat left;
	color: #000;
	border: 1px solid #000000;
	cursor: move;
}

.selected_long {
	/*background-color: #9C9;*/
	background: url(/crm/images/long_select.gif) no-repeat left;
	color: #000;
	border: 1px solid #000000;
	cursor: move;
}


.used {
	background-color: #F0F0F0;
	color: #AAA;
	border: 0px;
}

.unused {
	/*background-color: #D4D0C8;*/
	background: url(/crm/images/tray.gif) no-repeat left;
	color: #000;
	height: 22px;
	width: 139px;
	cursor: hand;
	cursor: pointer;	
}

.mouseover {
	background-color: #000;
}

.added {
	/*background-color: #D4D0C8;*/
	background: url(/crm/images/added.gif) no-repeat left;
}
.added_long {
	/*background-color: #D4D0C8;*/
	background: url(/crm/images/long_added.gif) no-repeat left;
}


.moved {
	border: 0px;
}

/* Calendar related */
.eventBorder {
	border-top: 1px solid #B7C9E8;
	border-bottom: 1px solid #B7C9E8;
}
.eventNav {
	height: 28px;
	border-top: 1px solid #FFF;
	background-color: #DFE8F4;
}
.eventTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.eventDetail {
	border: 1px solid #BCBEC2;
}

.eventDOW {
	height: 23;
	border-top: 1px solid #FFF;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	background-color: #384977;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
}
.eventBg {
	background-color: #D3DEF0;
}

TD.eventDayHead {
	height: 25px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #D3DEF0;
	background-color: #EEF2F9;
}
.eventDay {
	border-bottom: 1px solid #D3DEF0;
	background-color: #FFF;
}

TD.eventWeekHead {
	height: 22px;
	border-top: 1px solid #D3DEF0;
	border-bottom: 1px solid #D3DEF0;
	background-color: #F5F5F5;
}
.eventWeekBorder {
	border-left: 1px solid #FFF;
	border-right: 1px solid #D3DEF0;
}

.eventWeekDay {
	background-color: #FFF;	
}
.eventWeekEnd {
	background-color: #F5F5F5;	
}

A.eventDayHead, A.eventWeekHead, .eventDate, .eventTime {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	text-decoration: none;
}
A.eventWeekHead, A.eventDayHead {
	font-size: 11px;
	font-weight: bold;
}
.eventTime {
	color: #999;
}
A.eventDayHead:hover, A.eventWeekHead:hover, .eventDate:hover, .eventTime:hover {
	text-decoration: underline;
}

/* Popup Calendar related */
.calHead {
	border-bottom: 1px solid #375676;
	background: #4E70BA;
	height: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
}
.calTitle, .calDay, .calCurrDay {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
}
.calTitle {
	color: #FFF;
}
.calNav {
	color: #FFF;
	text-decoration: none;
}
.calDay, .calCurrDay {
	color: #3756A6;
	text-decoration: none;
}
.calCurrDay {
	color: #F00;
}
.calDay:hover {
	text-decoration: underline;
}
.calCurrDay:hover {
	text-decoration: underline;
}
.calWeekEnd {
	background-color: #F0F0F0;
}
.calFooter {
	height: 25px;
	background-color: #CCD9EE;
}

/* Related to Calendar present in Side Bar */
.sbCalLayer {
	padding: 3;
	border: 1px solid #CCC;
	background: #FFF;
}

.sbCalTitleBg {
	height: 30;
	border: 1px solid #B7C9E8;
	background-color: #F5F5F5;
}

.sbCalTitle, .sbCalNav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.sbCalNav {
	color: #21449C;
	text-decoration: none;
}

.sbCalNav:hover {
	color: #000;
	text-decoration: none;
}

.sbCalDay, .sbCalWeekDay, .sbCalWeekEnd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	text-decoration: none;
}

.sbCalDay:hover {
	color: #21449C;
}

.sbCalWeekDay {
	color: #999;
}

.sbCalCurrDay {
	border: 1px solid #B7C9E8;
	background-color: #F5F5F5;
}

.sbCalWeekEnd {
	color: #F00;
}

.sbCalDay:hover, .sbCalCurrDay:hover, .sbCalWeekEnd:hover {
	text-decoration: underline;
}

/* Reports related */
.reportSideBarOpen {
	background-color: #FFF;
	border-right: 1px solid #CCC;
}
.reportSideBarClose {
	width: 25;
	background-color: #D8E2F3;
	border-right: 1px solid #CCC;
}
.reportSideBarHead {
	height: 25;
	background-color: #D8E2F3;
	border-bottom: 1px solid #CCC;
}

/* Dashboard related */
.dashBrdHead {
	/*background-color: #CCD9EE;*/
	font-family: Verdana, Arial, Helvetica, San-serif;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	padding-left: 5px;
}

.dashBrdContent {
	border: 1px solid #CCD9EE;
	background-color: #F0F0F0;
}

.dashBrdIcon {
	padding: 3px 5px 3px 5px;
	border-left: 1px solid #CCD9EE;
	border-top: 1px solid #CCD9EE;
	background: #FFF;
	text-align: center;
}

.dashBrdPlay {
	border-left: 1px solid #CCD9EE;
	border-top: 1px solid #CCD9EE;
	border-right: 1px solid #CCD9EE;
	background: #F5F5F5;
}

/* Tab Component */
.tabLink {
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
.tabLink:hover {
	text-decoration: underline;
}
.tabOn {
	padding: 5;
	border-top: 1px solid #AFC5E4;
	background-color: #FFF;
}
.tabOff {
	padding: 5;
	border-top: 1px solid #AFC5E4;
	border-left: 1px solid #AFC5E4;
	border-right: 1px solid #AFC5E4;
	border-bottom: 1px solid #AFC5E4;
	background-color: #EFF3FA;
}
.tabContent {
	border-left: 1px solid #AFC5E4;
	border-right: 1px solid #AFC5E4;
	border-bottom: 1px solid #AFC5E4;
}
.tabStart {
	border-right: 1px solid #AFC5E4;
	border-bottom: 1px solid #AFC5E4;
}
.tabEnd {
	border-left: 1px solid #AFC5E4;
	border-bottom: 1px solid #AFC5E4;
}

/* Side Bar related */
.sideBarTop {
	background-color: #B3BDC6;
}
.sideBarHead, .sideBarHeadOver {
	height: 25;
	border-top: 1px solid #F5F5F5;
	border-bottom: 1px solid #B7C9E8;
	background-color: #D8E2F3;
	cursor: pointer;
	cursor: hand;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.sideBarHeadOver {
	background-color: #CBD9EF;
}
.sideBarContent {
	width: auto;
	padding: 5 0 5 15;
	background-color: #F5F5F5;
	border-bottom: 1px solid #B7C9E8;
}

/* Calculator */
.calcBg {
	background-color: #B3BDC6;
}
.calcResult {
	width: 100%;
	height: 25;
	background-color: #CAE7E8;
	border-top: 1px solid #999;
	border-left: 0px;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	font-size: 12;
	text-align: right;
}
.calcMem {
	width: 100%;
	height: 25;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 0px;
	border-bottom: 1px solid #FFF;
	background-color: #CAE7E8;
	font-family: Arial;
	font-size: 10;
	color: #BBB;
	text-align: left;
}
.calcBlackBtn, .calcGreyBtn, .calcBigBtn, .calcCancBtn, .calcMemBtn, .calcBackBtn {
	border: none;
	width: 25;
	height: 20;
	font-size: 11px;
	color: #FFF;
}
.calcBackBtn {
	background: url(/crm/images/calc_back_btn.gif) no-repeat;
}
.calcBlackBtn {
	background: url(/crm/images/calc_black_btn.gif) no-repeat;
}
.calcGreyBtn {
	background: url(/crm/images/calc_grey_btn.gif) no-repeat;
}
.calcCancBtn {
	background: url(/crm/images/elegant/calc_canc_btn.gif) no-repeat;
}
.calcMemBtn {
	background: url(/crm/images/elegant/calc_mem_btn.gif) no-repeat;
}
.errPageTitle {
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.errPageHeading {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	padding: 10 0 10 0;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #F00;
	text-align: center;
	whitespace: nowrap;
}


.wmstyle{
font-family: arial,sans-serif; font-size: 12px
}

/*default txt,black*/
td{
font-family: arial,sans-serif; font-size: 12px
}

/*hight blue*/
.td1{
color:#000099
}

/*fleet blue*/
.td2{
color:#10659e;
}

/*white txt*/
.td3{
color:FFFFFF
}

/*red txt*/
.td4{
color:red
}

/*shaddow txt*/
.td5{
font-family: arial,sans-serif; font-size: 12px; font-weight: bold; color: #009900; filter:glow(color=#efefef,strength=1)
}

/*force break txt*/
.td_break{
width: 800px; word-wrap: break-word;
}

/*default link txt,height blue*/
a{
cursor:hand;
color:#000099;
text-decoration: none;
}

a:hover{
text-decoration: underline;
}

/*black link*/
.a1{
color:#000000;
text-decoration: none;
}

.a1:hover{
text-decoration: underline;
}

/*link for fleet blue*/
.a2{
color:#10659e;
text-decoration: none;
}

.a2:hover{
text-decoration: none;
}

/*white link */
.a3{
color:#FFFFFF;
text-decoration: none;
}

.a3:hover{
text-decoration: none;
}

body{
font-family: arial,sans-serif;
font-size:   12px;
color:       #000000;
margin:      0;
}

.middlebluecomplex, .middlebluesimple  {
background-color:#4891C6;
color:#ffffff;
word-break:break-all;
}

.middlebluecomplex {
border-bottom:1px solid #17649A;
}

/*default background color,height blue*/
.body_dblue{
background-color:#336699
}

/*fleet blue background color*/
.body_lblue{
background-color:#a0c6e5
}

/*white background*/
.body_white{
background-color:#FFFFFF
}

/*green background*/
.body_green{
background-color:#dbeaf5
}

/*fleet green background*/
.body_lgreen{
background-color:#f1f8ff
}

/*yellow background*/
.body_yellow{
background-color:#fff7e7
}

/*picture background*/
.body_img{
background-image:url(mailright_01.jpg)
}

/*for left menubar background*/
.body_menu {
background-color:#dbeaf5
}

/*height blue background and white txt*/
.td_bw{
font-family: arial,sans-serif; font-size: 12px; color:#FFFFFF; background-color:#336699
}

/*height blue background and height blue txt*/
.td_bb{
font-family: arial,sans-serif; font-size: 12px; color:#000099; background-color:#336699
}

/*height blue background and fleet blue txt*/
.td_blb{
font-family: arial,sans-serif; font-size: 12px; color:#10659e; background-color:#336699
}

/*height blue background and black txt*/
.td_bbl{
font-family: arial,sans-serif; font-size: 12px; color:#000000; background-color:#336699
}


/*green background and white txt*/
.td_gw{
font-family: arial,sans-serif; font-size: 12px; color:#FFFFFF; background-color:#dbeaf5
}

/*green background and height blue txt*/
.td_gb{
font-family: arial,sans-serif; font-size: 12px; color:#000099; background-color:#dbeaf5
}

/*green background and fleet blue txt*/
.td_glb{
font-family: arial,sans-serif; font-size: 12px; color:#10659e; background-color:#dbeaf5
}

/*green background and black txt*/
.td_gbl{
font-family: arial,sans-serif; font-size: 12px; color:#000000; background-color:#dbeaf5
}

/*yellow background and white txt*/
.td_yw{
font-family: arial,sans-serif; font-size: 12px; color:#FFFFFF; background-color:#fff7e7
}

/*yellow background and height blue txt*/
.td_yb{
font-family: arial,sans-serif; font-size: 12px; color:#000099; background-color:#fff7e7
}

/*yellow background and fleet blue txt*/
.td_ylb{
font-family: arial,sans-serif; font-size: 12px; color:#10659e; background-color:#fff7e7
}

/*yellow background and black txt*/
.td_ybl{
font-family: arial,sans-serif; font-size: 12px; color:#000000; background-color:#fff7e7
}

/*white background and height blue txt*/
.td_wb{
font-family: arial,sans-serif; font-size: 12px; color:#000099; background-color:#ffffff
}

/*white background and fleet blue txt*/
.td_wlb{
font-family: arial,sans-serif; font-size: 12px; color:#10659e; background-color:#ffffff
}

/*white background and black txt*/
.td_wbl{
font-family: arial,sans-serif; font-size: 12px; color:#000000; background-color:#ffffff
}

/*default border,border color:fleet blue*/
.tableBorder1{width:98%;border:1px; background-color:#a0c6e5;}

/*default txt border,border color:black*/
input.text{
border:1px solid black;height:22px
}

/*background txt border*/
input.textline{
border:none; background-image:url(mailright_bt02.jpg); height:18px
}

/*default txt area,black border*/
textarea.area{
border:1px solid black;
}

/*default button,black border, with:90px*/
input.button{
border:none;color:#000000;font:normal 12px Arial;height:23px;width:90px;cursor:hand;background-image: url(mailright_bt02.jpg);
}

/*default button,black border,with:65px*/
input.button1{
border:none;color:#000000;font:normal 12px Arial;height:23px;width:65px;cursor:hand;background-image: url(mailright_bt01.jpg);
}

/*default button,black border,with:50px*/
input.button2{
border:none;color:#000000;font:normal 12px Arial;height:23px;width:50px;cursor:hand;background-image: url(mailright_bt00.jpg);
}


/* Format Ad.jsp,CopyRight.jsp Style */
.adcp_div a:link, .adcp_div a:hover, .adcp_div a:visited, .adcp_div {
color:#ffffff;
text-decoration:none;
}
.adcp_div a:link.nav, .adcp_div a:hover.nav, .adcp_div a:visited.nav {
color:#ffffff;
text-decoration:none;
}

/* Format coolButton's Style */
.coolButton a:link, .coolButton a:visited, .coolButton a:hover, .coolButton a {
color:#000000;
text-decoration:none;
}

/* Format Normal MenuLink Style */
.MenuDiv a:link, .MenuDiv a:visited {
color:#000099;
text-decoration:none;
}

.MenuDiv a:hover {
text-decoration:underline;
}

/* Format Black MenuLink Style */
.BlkMenu a:link, .BlkMenu a:visited {
color:#000000;
text-decoration:none;
}

.BlkMenu a:hover {
text-decoration:underline;
}

/* Format Normal Link Style */
.NorLink a:link, .NorLink a:visited {
color:#000099;
text-decoration:none;
}

.NorLink a:hover {
text-decoration:underline;
}

.BasicImage {
	filter:progid:DXImageTransform.Microsoft.BasicImage(GrayScale=1); 
}

/* Format Corp Style */
.corp_background {
color:#000000;
text-align:left;
text-decoration:none;
background-color:#FFFFFF;
background-image:url(../../image/icon_image/corp_backgroud.gif);
background-position:right bottom;
background-repeat:no-repeat;
margin:15px 0px 0px 20px;
padding:0px 0px 40px 0px;
}

.corp_background hr {
height:1px;
width:90%;
border:0px;
color:#000000;
}

.corp_title {
color:#000000;
font-weight:bold;
word-break:break-all;
}

.corp_content {
color:#000000;
font-weight:normal;
margin:15px;
word-break:break-all;
}

.corp_ul {
margin:5px 0px 0px 20px;
}

.corp_li {
margin-top:5px;
}

.corp_tip {
	color: #000000;
	background-color: #FFFFCC;
	border: 1px solid #96965E;
	padding: 5px;
	margin: 10px;
}
.corp_tip img {
	margin-left: 10px;
	margin-right: 15px;
	vertical-align: middle;
}
.corp_tip a {
	font-size: 12px;
	text-decoration: none;
}
.corp_tip a:hover {
	text-decoration: underline;
}

/* Focus Main */
.focus {
	width: 100%;
	height: 100%;
	background: #FFFFFF url(focus_bg_01.gif) left top repeat-x;
	margin: 1px 0px 1px 0px;
}
.focus-bg01 {
	width: 48px;
	background: #FFFFFF url(focus_bg_02.gif) right top repeat-y;
}
.focus-bg02 {
	width: 48px;
	height: 370px;
	background: #FFFFFF url(focus_bg_03.gif) right top no-repeat;
}
.focus-ad {
	width: 225px;
	text-align: right;
	vertical-align: top;
	background: #D9F1FD url(focus_bg_04.gif) left top repeat-x;
	border-bottom: 1px solid #6AA8D3;
	padding-top: 1px;
}
.focus-ad-content {
	width: 260px;
	text-align: right;
	vertical-align: top;
	overflow-x: hidden;
}
.focus-number {
	color: #336699;
	font-weight: bold;
}
.focus-line {
	background: url(focus_line.gif) left top repeat-x;
}

/* Focus Box Border */
.focus-border {
	width: 100%;
	margin-top: 10px;
}
.focus-border-1c1 {
	font-size: 1px;
	width: 6px;
	height: 6px;
	background: url(focus_border_01.gif) left bottom no-repeat;
}
.focus-border-1c2 {
	font-size: 1px;
	width: 6px;
	height: 6px;
	background: url(focus_border_02.gif) right bottom no-repeat;
}
.focus-border-1c3 {
	font-size: 1px;
	width: 6px;
	height: 6px;
	background: url(focus_border_03.gif) left top no-repeat;
}
.focus-border-1c4 {
	font-size: 1px;
	width: 6px;
	height: 6px;
	background: url(focus_border_04.gif) right top no-repeat;
}
.focus-border-1b1 {
	font-size: 1px;
	background-color: #FFFFFF;
	border-top: 1px solid #82B9E2;
}
.focus-border-1b2 {
	border-left: 1px solid #82B9E2;
	border-right: 1px solid #82B9E2;
	padding: 0px 6px 0px 6px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFFFFFFF,endColorStr=#FFCADEF2);
}
.focus-border-1b3 {
	font-size: 1px;
	background-color: #CADEF2;
	border-bottom: 1px solid #82B9E2;
}
.focus-border-2c1 {
	font-size: 1px;
	width: 6px;
	height: 6px;
	background: url(focus_border_05.gif) left bottom no-repeat;
}
.focus-border-2c2 {
	font-size: 1px;
	width: 6px;
	height: 6px;
	background: url(focus_border_06.gif) right bottom no-repeat;
}
.focus-border-2c3 {
	font-size: 1px;
	width: 6px;
	height: 6px;
	background: url(focus_border_07.gif) left top no-repeat;
}
.focus-border-2c4 {
	font-size: 1px;
	width: 6px;
	height: 6px;
	background: url(focus_border_08.gif) right top no-repeat;
}
.focus-border-2b1 {
	font-size: 1px;
	background-color: #D9F1FD;
	border-top: 1px solid #82B9E2;
}
.focus-border-2b2 {
	border-left: 1px solid #82B9E2;
	border-right: 1px solid #82B9E2;
	padding: 0px 6px 0px 6px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFD9F1FD,endColorStr=#FF9CC2E7);
}
.focus-border-2b3 {
	font-size: 1px;
	background-color: #9CC2E7;
	border-bottom: 1px solid #82B9E2;
}

/* Focus Title */
.focus-title-left {
	font-size: 1px;
	width: 10px;
	height: 27px;
	background-image: url(focus_title_left.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}
.focus-title-middle {
	height: 27px;
	color: #000000;
	font-weight: bold;
	background: url(focus_title_middle.gif) left top repeat-x;
}
.focus-title-right {
	font-size: 1px;
	width: 10px;
	height: 27px;
	background: url(focus_title_right.gif) right top no-repeat;
}
a.focus-more {
	color: #336699;
	font-size: 10px;
	font-family: arial,sans-serif;
	font-weight: bold;
}

/* Calendar */
.calendar {
	width: 200px;
}
.calendar-top {
	height: 43px;
	text-align: center;
	background: url(focus_calendar_bg_top.gif) left top no-repeat;
	padding: 15px 11px 0px 3px;
}
.calendar-bottom {
	height: 20px;
	text-align: center;
	background: url(focus_calendar_bg_bottom.gif) left top no-repeat;
	padding: 0px 11px 0px 3px;
}
.calendar-middle {
	text-align: center;
	background: url(focus_calendar_bg_middle.gif) left top repeat-y;
	padding: 0px 11px 0px 3px;
}
.calendar-body {
	width: 100%;
	overflow-x: hidden;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFFFFFFF,endColorStr=#FFCADEF2);
}
.calendar-week {
	text-align: center;
	background: url(focus_calendar_bg_week.gif) center top no-repeat;
}
.calendar-week a {
	color: #000099;
	text-decoration: none;
}
.calendar-today {
	color: #000000;
	font-weight: bold;
	text-align: center;
	background: url(focus_calendar_bg_today.gif) center center no-repeat;
}
.calendar-today a {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
.calendar-title {
	height: 22px;
	padding-top: 3px;
	filter: progid:DXImageTransform.Microsoft.DropShadow(color=#ffffff,offX=1,offY=1,positives=true);
}
.calendar-weather-icon {
	width: 40px;
	text-align: center;
	padding: 5px 0px 5px 8px;
}
.calendar-box-top {
	width: 180px;
	height: 3px;
	font-size: 1px;
	background: url(focus_calendar_box_top.gif) center bottom no-repeat;
	margin-top: 10px;
}
.calendar-box-bottom {
	width: 180px;
	height: 3px;
	font-size: 1px;
	background: url(focus_calendar_box_bottom.gif) center top no-repeat;
}
.calendar-box-middle {
	width: 180px;
	background-color: #9ECBEB;
	padding: 2px 3px 0px 3px;
}

/* Used Size Pre */
.size {
	width: 100%;
	font-size: 12px;
	margin: 10px 0px 11px 0px;
}
.size-left {
	width: 10px;
	height: 22px;
	background: url(focus_size_left.gif) right top no-repeat;
}
.size-right {
	width: 10px;
	height: 22px;
	background: url(focus_size_right.gif) left top no-repeat;
}
.size-middle {
	height: 22px;
	background: url(focus_size_middle.gif) left top repeat-x;
}
.size-outside {
	font-size: 1px;
	width: 100%;
	height: 8px;
	background-color: #ffffff;
	border: 1px solid #000000;
}
.size-inside {
	font-size: 1px;
	height: 6px;
	background-color: #33CC00;
	margin: 1px 0px 1px 0px;
}

/* Calendar Select Menu */
.calendar_select_hover {
	background: #E5EFF9 url(focus_select_arrow.gif) right center no-repeat;
	border: 1px solid #337DB1;
	padding: 3px 17px 0px 7px;
	cursor: hand;
}
.calendar_select {
	height: 102px;
	position: absolute;
	background-color: #FFFFFF;
	border: 1px solid #337DB1;
	overflow-y: scroll;
	z-index: 99;
}
.calendar_select a {
	width: 100%;
	background-color: #FFFFFF;
	text-decoration: none;
	padding-left: 10px;
}
.calendar_select a:hover {
	width: 100%;
	background-color: #E5EFF9;
	text-decoration: none;
	padding-left: 10px;
}

.calendar_left {
	width: 12px;
	background: url(calendar_01.gif) left top no-repeat;
}
.calendar_middle {
	background: url(calendar_02.gif) left top repeat-x;
}
.calendar_right {
	width: 12px;
	background: url(calendar_03.gif) left top no-repeat;
}

img.image_h {
	filter: progid:DXImageTransform.Microsoft.BasicImage (grayScale=1);
}

.backgroundIframe{
	position:absolute;
	z-index:9;
	width:expression(this.previousSibling.offsetWidth);
	height:expression(this.previousSibling.offsetHeight);
	left:expression(this.previousSibling.offsetLeft);
	top:expression(this.previousSibling.offsetTop);
}
