html, body {font-size:12px;background:#eeeeee; margin:1px;border: none;padding:0px;border:none;scrollbar-arrow-color:buttonshadow;scrollbar-base-color:buttonshadow;
scrollbar-darkshadow-color:#ffffff;scrollbar-face-color:#EEEAEB;scrollbar-highlight-color:#FBFDFC;scrollbar-shadow-color:buttonshadow}
body.whiteColor{
	margin: 1px; padding: 0px; overflow: hidden; border: none;background: white;
	}
.back0 {background-image: url(/images/yonggang/back0.gif)}
.back {background-image: url(/images/yonggang/back.gif)}

td{font-size: 12px}
p{font-size: 12px}

.a{color:#027DD2;font-weight:bold}
.b{color:#027DD2;text-decoration:none;}

A{color: blue;text-decoration:underline;}
A:hover{color: blue;text-decoration:none;}

A.title{color:#027DD2;text-decoration: underline}
A.title:hover {color:#027DD2;text-decoration: none}

A.email		{text-decoration:underline;color:#000000;}
A.email:hover {text-decoration:underline;color:#009AFF;}

.c1	{background-color:#BCD8F0}
.c1-bak	{background-color:#BCD8F0;color:#444444;font-weight:bold}
.c2	{background-color:#DAE5EF}
.c3	{background-color:#eeeeee}
.c4	{background-color:#ffffff}

.todayColor {
	BACKGROUND-COLOR: #FFD264;
	font-weight: bold;
	text-decoration: blink;
}
.assignedColor {text-decoration:underline;BACKGROUND-COLOR: #BCD8F0}
.weekColor {BACKGROUND-COLOR: #cccccc}

.httpFolder {behavior: url(#default#httpFolder);}
.GroupHead{
	COLOR:"#0A246A";
	font-weight:bold;
	cursor:hand;
	background-color:#DAE5EF;
}
.GroupHead1{
	COLOR:"#FFFFFF";
	font-weight:bold;
	cursor:default;
	background-color: highLight;
}