body { font-size: 12px; scrollbar-arrow-color:buttonshadow; scrollbar-base-color:buttonshadow;
scrollbar-darkshadow-color:#ffffff; scrollbar-face-color:#EEEAEB; scrollbar-highlight-color:#FBFDFC; scrollbar-shadow-color:buttonshadow}

.person a {
	color: black;
	text-decoration: none;
}

.person a:hover {
	color: blue;
	text-decoration: underline;
}

.person a:active {
	background: highlight;
	color: highlighttext;
	text-decoration: none;
}

.person a.selected {
	color: selectedtext;
	background: selected;
}

.person a.selected-inactive {
	color: windowtext;
	background: buttonface;
}

.group a {
	color: blue;
        font-weight: bold;
	text-decoration: none;
}

.group a:hover {
	color: blue;
	text-decoration: underline;
}

.group a:active {
	background: highlight;
	color: highlighttext;
	text-decoration: none;
}

.group a.selected {
	color: selectedtext;
	background: selected;
}

.group a.selected-inactive {
	color: windowtext;
	background: buttonface;
}

.bodycolor { BACKGROUND: #cccccc; cursor:default}

td{
	FONT-SIZE: 9pt;
	line-height: 120%;
}
p {
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}
.rightMenuOver{
	COLOR: #FFFFFF;
	background-color: #000080;
	font-size: 12px;
	padding: 0px 8px;
}
.rightMenuOut{
	COLOR: #000000;
	font-size: 12px;
	padding: 0px 8px;
}
.disable{
	color:#808080;filter:dropshadow(color=#FFFFFF,offx=1,offy=1,positive=1);
}
.VSep{
    font-size: 0px;
	height: 3px;
}
.TVSep
{
    BORDER-TOP: buttonshadow 1px solid;
    BORDER-BOTTOM: buttonhighlight 1px solid;
    font-size: 0px;
	left: 0px;
    width: 100%;
	margin: 2px;
	height: 0px;
}

input.box {background:white;border-style:solid;border-width:0}