.Desktop_left_bar_bg_left {
	BACKGROUND-IMAGE: url(/images/mytable/desktop_bar_left.gif); WIDTH: 6px;height=22px
}
.Desktop_left_bar_bg {
	BACKGROUND-IMAGE: url(/images/mytable/desktop_bar_bg.gif)
}
.Desktop_left_bar_bg_right {
	BACKGROUND-IMAGE: url(/images/mytable/desktop_bar_right.gif); WIDTH: 6px
}
.Desktop_left_underline {
	BACKGROUND-IMAGE: url(/images/mytable/desktop_bar_underline.gif); HEIGHT: 22px
}

.Desktop_Main_table {
	BORDER-RIGHT: #3A88C2 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #3A88C2 1px solid; BORDER-BOTTOM: #3A88C2 1px solid
}