body.whiteColor{
	margin: 1px; padding: 0px; overflow: hidden; border: none;background: white;
	}
.back0 {background-image: url(/images/yonggang/back0.gif)}
.back {background-image: url(/images/yonggang/back.gif)}

td{font-size: 12px}
p{font-size: 12px}
.invisible{
	display:none;
}
.c1	{background-color:#BCD8F0}
.c2	{background-color:#DAE5EF}
.c3	{background-color:#eeeeee}
.c4	{background-color:#ffffff}

input.underbar			{background:white;border-left-style:none;border-right-style:none;border-top-style:none;border-bottom-style:solid;border-bottom-width:1}
input.underbar_inactive		{background:transparent;border-left-style:none;border-right-style:none;border-top-style:none;border-bottom-style:solid;border-bottom-width:1}
input.box			{border-style:solid;border-width:1;border-color:buttonshadow}
input.box_inactive		{background:transparent;border-style:solid;border-width:1}
input.noborder			{background:white;border-style:solid;border-width:0}
input.noborder_inactive		{background:transparent;border-style:solid;border-width:0}
input.boxCheck			{border-style:solid;border-width:1;border-color:#ee0000}
input.output			{background:white;border-style:solid;border-width:0}

textarea.underbar		{word-wrap:break-word;word-break:break-all;background:white;border-left-style:none;border-right-style:none;border-top-style:none;border-bottom-style:solid;border-bottom-width:1}
textarea.underbar_inactive	{word-wrap:break-word;word-break:break-all;background:transparent;border-left-style:none;border-right-style:none;border-top-style:none;border-bottom-style:solid;border-bottom-width:1}
textarea.box			{word-wrap:break-word;word-break:break-all;border-style:solid;border-width:1;border-color:buttonshadow}
textarea.box_inactive		{word-wrap:break-word;word-break:break-all;background:transparent;border-style:solid;border-width:1}
textarea.noborder		{word-wrap:break-word;word-break:break-all;background:white;border-style:solid;border-width:0}
textarea.noborder_inactive	{word-wrap:break-word;word-break:break-all;background:transparent;border-style:solid;border-width:0}
textarea.boxCheck			{word-wrap:break-word;word-break:break-all;border-style:solid;border-width:1;border-color:#ee0000}
textarea.output		{background:white;border-style:solid;border-width:0}

select.underbar			{background:white;border-left-style:none;border-right-style:none;border-top-style:none;border-bottom-style:solid;border-bottom-width:1}
select.underbar_inactive	{background:transparent;border-left-style:none;border-right-style:none;border-top-style:none;border-bottom-style:solid;border-bottom-width:1}
select.box			{border-style:solid;border-width:1;border-color:buttonshadow}
select.box_inactive		{background:transparent;border-style:solid;border-width:1}
select.noborder			{background:white;border-style:solid;border-width:0}
select.noborder_inactive	{background:transparent;border-style:solid;border-width:0}
select.boxCheck			{border-style:solid;border-width:1;border-color:#ee0000}