td{font-size: 12px}

.Head {
	background-color: #cccccc;
	border-bottom: buttonface 1px solid;
	border-left: buttonface 1px solid;
	border-right: buttonface 1px solid;
	border-top: buttonface 1px solid;
	cursor: hand;
	padding: 0px;
	margin: 1px;
	height: 15px;
}
.HeadUp
{
	background-color: buttonface;
	border-left: #ffffff 1px solid;
	border-top: #ffffff 1px solid;
	border-right: #808080 1px solid;
	border-bottom: #808080 1px solid;
	cursor: hand;
	padding: 0px;
	margin: 0px 1px 1px 0px;
}
.HeadDown
{
	background-color: buttonface;
	border-left: buttonface 1px solid;
	border-top: buttonface 1px solid;
	border-right: #808080 1px solid;
	border-bottom: #808080 1px solid;
	cursor: hand;
	padding: 0px;
	margin: 1px 0px 0px 1px;
}

.Btn  {display:none}
.Btn2 {display:none}
.BtnUp{display:none}
.BtnDown{display:none}

.TBSep
{
    border-left: buttonshadow 1px solid;
    border-right: buttonhighlight 1px solid;
	top: 0px;
    WIDTH: 1px;
	margin: 2px;
	height: 18px;
}
.TBHandle
{
	background-color: #cccccc;
	border-left: buttonhighlight 1px solid;
	border-right: buttonshadow 1px solid;
	border-top: buttonhighlight 1px solid;
	top: 0px;
	WIDTH: 3px;
	margin: 2px;
	height: 18px;
}
.VSep{
    font-size: 0px;
	height: 3px;
}
.VSep1{
    font-size: 0px;
	height: 1px;
}
.VSep10{
    font-size: 0px;
	height: 10px;
}
.VSep8{
    font-size: 0px;
	height: 8px;
}
p {
  font-size: 12px;
  margin: 2px;
  padding: 0px;
  vertical-align: middle;
}
.TVSep
{
    border-top: buttonshadow 1px solid;
    border-bottom: buttonhighlight 1px solid;
    font-size: 0px;
	left: 0px;
    width: 100%;
	margin: 2px;
	height: 0px;
}

input.underbar			{background:transparent;border-style:solid;border-width:0}
input.underbar_inactive		{background:transparent;border-style:solid;border-width:0}
input.box			{background:transparent;border-style:solid;border-width:0}
input.box_inactive		{background:transparent;border-style:solid;border-width:0}
input.noborder			{background:transparent;border-style:solid;border-width:0}
input.noborder_inactive		{background:transparent;border-style:solid;border-width:0}

textarea.underbar		{background:transparent;border-style:solid;border-width:0}
textarea.underbar_inactive	{background:transparent;border-style:solid;border-width:0}
textarea.box			{background:transparent;border-style:solid;border-width:0}
textarea.box_inactive		{background:transparent;border-style:solid;border-width:0}
textarea.noborder		{background:transparent;border-style:solid;border-width:0}
textarea.noborder_inactive	{background:transparent;border-style:solid;border-width:0}

select.underbar			{background:transparent;border-style:solid;border-width:0}
select.underbar_inactive	{background:transparent;border-style:solid;border-width:0}
select.box			{background:transparent;border-style:solid;border-width:0}
select.box_inactive		{background:transparent;border-style:solid;border-width:0}
select.noborder			{background:transparent;border-style:solid;border-width:0}
select.noborder_inactive	{background:transparent;border-style:solid;border-width:0}

.normal   		{color: #000000;background-color:#ffffff}
.highlight		{color: #000000;background-color:#ffffff}

