
.tableWidget_headerCell {
	BORDER-BOTTOM: #c5c2b2 3px solid; BORDER-LEFT: #fff 1px solid; BACKGROUND-COLOR: #ecf8fe; CURSOR: pointer; BORDER-RIGHT: #aca899 1px solid; FONT-SIZE:16px
}
.tableWigdet_headerCellOver {
	BORDER-BOTTOM: #c5c2b2 3px solid; BORDER-LEFT: #fff 1px solid; BACKGROUND-COLOR: #ecf8fe; CURSOR: pointer; BORDER-RIGHT: #aca899 1px solid; FONT-SIZE:16px
}
.tableWigdet_headerCellDown {
	BORDER-BOTTOM: #c5c2b2 3px solid; BORDER-LEFT: #fff 1px solid; BACKGROUND-COLOR: #ecf8fe; CURSOR: pointer; BORDER-RIGHT: #aca899 1px solid; FONT-SIZE:16px
}
.tableWidget_headerCell {
	BORDER-TOP: #03B6DF 2px solid
}
.tableWigdet_headerCellOver {
	BORDER-TOP: #03B6DF 2px solid
}
.tableWidget TBODY .tableWidget_dataRollOver {
	BACKGROUND-COLOR: #fff
}
.tableWigdet_headerCellDown {
	BORDER-LEFT: #aca899 1px solid; BACKGROUND-COLOR: #ecf8fe; BORDER-TOP: #03B6DF 2px solid; BORDER-RIGHT: #fff 1px solid
}
.tableWidget TD {
	BORDER-BOTTOM: #eae9e1 1px solid; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px; FONT-SIZE:16px
}
.tableWidget TBODY {
	BACKGROUND-COLOR: #fff
}
.tableWidget {
	WIDTH: 400px; FONT-FAMILY: arial; FONT-SIZE: 12px
}
DIV.widget_tableDiv {
	BORDER-BOTTOM: #aca899 1px solid; BORDER-LEFT: #aca899 1px solid; OVERFLOW-Y: auto; WIDTH: 400px; HEIGHT: 200px; BORDER-TOP: #aca899 1px solid; BORDER-RIGHT: #aca899 1px solid
}
HTML > BODY DIV.widget_tableDiv {
	WIDTH: 400px; OVERFLOW: hidden
}
.tableWidget THEAD {
	POSITION: relative
}
.tableWidget THEAD TR {
	POSITION: relative; BOTTOM: 0px; TOP: 0px
}
.tableWidget .scrollingContent {
	OVERFLOW-Y: auto; WIDTH: 100%
}