.tab-pane-control.tab-pane {
	position:	relative;
	width:		100%;		/* width needed weird IE bug */
	margin-right:	-2px;	/* to make room for the shadow */
	margin-top:	5px;	/*taotao*/
	
}

.tab-pane-control .tab-row .tab {

	width:				60px;
	height:				16px;
	background-image:	url( "tab.gif" );
	
	position:		relative;
	top:			0;
	display:		inline;
	float:			left;
	overflow:		hidden;
	
	cursor:			Default;

	margin:			1px -1px 1px 2px;
	padding:		2px 0px 0px 0px;
	border:			0;

	z-index:		1;
	font:			12px Tahoma;
	white-space:	nowrap;
	text-align:		center;
}

.tab-pane-control .tab-row .tab.selected {
	width:				62px !important;
	height:				18px !important;
	background-image:	url( "tab.active.gif" ) !important;
	background-repaet:	no-repeat;

	border-bottom-width:	0;
	z-index:		3;
	padding:		2px 0 0px 0;
	margin:			1px -3px -3px 0px;
	top:			-2px;
	font:				12px Tahoma;
}

.tab-pane-control .tab-row .tab a {
	font:				12px Tahoma;
	color:				Black;
	text-decoration:	none;
	cursor:				default;
}
/*.tab-pane-control .tab-row .tab.selected a{ font-weight:bold;}*/

.tab-pane-control .tab-row .tab.hover {
	font:				12px Tahoma;
	width:				60px;
	height:				16px;
	background-image:	url( "tab.hover.gif" );
	background-repaet:	no-repeat;
}


.tab-pane-control .tab-page {
	clear:			both;
	/*border:			1px solid rgb( 145, 155, 156 );*/
	border:			1px solid #888888;
	background:		rgb( 252, 252, 254 );
	z-index:		2;
	position:		relative;
	top:			-2px;

	font:				12px Tahoma;
	color:				Black;

	filter:			progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fffcfcfe, EndColorStr=#fff4f3ee, GradientType=0)
					progid:DXImageTransform.Microsoft.Shadow(Color=#ff919899, Strength=2, Direction=135);
	
	/*244, 243, 238*/
	/* 145, 155, 156*/
	
	padding:		0px;/*taotao*/
}

.tab-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
}

.tab2-pane-control.tab-pane {
	position:	relative;
	width:		100%;		/* width needed weird IE bug */
	margin-right:	-2px;	/* to make room for the shadow */
	margin-top:	2px;	/*taotao*/
	
}

.tab2-pane-control .tab-row .tab {

	width:				45px;
	height:				16px;
	background-image:	url( "tab2.gif" );
	
	position:		relative;
	top:			0;
	display:		inline;
	float:			left;
	overflow:		hidden;
	
	cursor:			Default;

	margin:			1px -1px 1px 2px;
	padding:		2px 0px 0px 0px;
	border:			0;

	z-index:		1;
	font:			12px Tahoma;
	white-space:	nowrap;
	text-align:		center;
}

.tab2-pane-control .tab-row .tab.selected {
	width:				47px !important;
	height:				18px !important;
	background-image:	url( "tab2.active.gif" ) !important;
	background-repaet:	no-repeat;

	border-bottom-width:	0;
	z-index:		3;
	padding:		2px 0 0px 0;
	margin:			1px -3px -3px 0px;
	top:			-2px;
	font:				12px Tahoma;
}

.tab2-pane-control .tab-row .tab a {
	font:				12px Tahoma;
	color:				Black;
	text-decoration:	none;
	cursor:				default;
}
/*.tab2-pane-control .tab-row .tab.selected a{ font-weight:bold;}*/

.tab2-pane-control .tab-row .tab.hover {
	font:				12px Tahoma;
	width:				45px;
	height:				16px;
	background-image:	url( "tab2.hover.gif" );
	background-repaet:	no-repeat;
}


.tab2-pane-control .tab-page {
	clear:			both;
	/*border:			1px solid rgb( 145, 155, 156 );*/
	border:			1px solid #888888;
	background:		rgb( 252, 252, 254 );
	z-index:		2;
	position:		relative;
	top:			-2px;

	font:				12px Tahoma;
	color:				Black;

	filter:			progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fffcfcfe, EndColorStr=#fff4f3ee, GradientType=0)
					progid:DXImageTransform.Microsoft.Shadow(Color=#ff919899, Strength=2, Direction=135);
	
	/*244, 243, 238*/
	/* 145, 155, 156*/
	
	padding:		0px;/*taotao*/
}

.tab2-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
}
