body {cursor:default;margin: 10px; padding: 0px;font-size: 12px;word-wrap:break-word; word-break:break-all;border: none; scrollbar-arrow-color:buttonshadow; scrollbar-base-color:buttonshadow;
scrollbar-darkshadow-color:#ffffff; scrollbar-face-color:#EEEAEB; scrollbar-highlight-color:#FBFDFC; scrollbar-shadow-color:buttonshadow}
td{font-size: 12px}
p{font-size: 12px;margin: 2px;padding: 0px;vertical-align: middle;line-height:180%;}

.back0 {background-image: url(/images/yonggang/back0.gif)}
.back {background-image: url(/images/yonggang/back.gif)}

a		{color:black;text-decoration: none}
a:hover {color:blue;text-decoration: underline}

a.b		{color:blue;text-decoration: underline}
a.b:hover {color:blue;text-decoration: none}

.c1	{background-color:#BCD8F0}
.c2	{background-color:#DAE5EF}
.c3	{background-color:#eeeeee}
.c4	{background-color:#ffffff}

input.underbar			{background:white;border-left-style:none;border-right-style:none;border-top-style:none;border-bottom-style:solid;border-bottom-width:1}
input.underbar_inactive		{background:transparent;border-left-style:none;border-right-style:none;border-top-style:none;border-bottom-style:solid;border-bottom-width:1}
input.box			{border-style:solid;border-width:1;border-color:buttonshadow}
input.box_inactive		{background:transparent;border-style:solid;border-width:1}
input.noborder			{background:white;border-style:solid;border-width:0}
input.noborder_inactive		{background:transparent;border-style:solid;border-width:0}
input.boxCheck			{border-style:inset;border-width:1;border-color:#ee0000}
input.output			{background:white;border-style:solid;border-width:0}

textarea.underbar		{word-wrap:break-word;word-break:break-all;background:white;border-left-style:none;border-right-style:none;border-top-style:none;border-bottom-style:solid;border-bottom-width:1}
textarea.underbar_inactive	{word-wrap:break-word;word-break:break-all;background:transparent;border-left-style:none;border-right-style:none;border-top-style:none;border-bottom-style:solid;border-bottom-width:1}
textarea.box			{word-wrap:break-word;word-break:break-all;border-style:solid;border-width:1;border-color:buttonshadow}
textarea.box_inactive		{word-wrap:break-word;word-break:break-all;background:transparent;border-style:solid;border-width:1}
textarea.noborder		{word-wrap:break-word;word-break:break-all;background:white;border-style:solid;border-width:0}
textarea.noborder_inactive	{word-wrap:break-word;word-break:break-all;background:transparent;border-style:solid;border-width:0}
textarea.boxCheck			{word-wrap:break-word;word-break:break-all;border-style:inset;border-width:1;border-color:#ee0000}
textarea.output		{background:white;border-style:solid;border-width:0}

select.underbar			{background:white;border-left-style:none;border-right-style:none;border-top-style:none;border-bottom-style:solid;border-bottom-width:1}
select.underbar_inactive	{background:transparent;border-left-style:none;border-right-style:none;border-top-style:none;border-bottom-style:solid;border-bottom-width:1}
select.box			{border-style:solid;border-width:1;border-color:buttonshadow}
select.box_inactive		{background:transparent;border-style:solid;border-width:1}
select.noborder			{background:white;border-style:solid;border-width:0}
select.noborder_inactive	{background:transparent;border-style:solid;border-width:0}
select.boxCheck			{border-style:inset;border-width:1;border-color:#ee0000}
.TVSep
{
    border-top: buttonshadow 1px solid;
    border-bottom: buttonhighlight 1px solid;
    font-size: 0px;
	left: 0px;
    width: 100%;
	margin: 2px;
	height: 0px;
}
.rightMenuOver{
	color: #FFFFFF;
	background-color: #000080;
	font-size: 12px;
	padding: 0px 8px;
}
.rightMenuOut{
	color: #000000;
	font-size: 12px;
	padding: 0px 8px;
}
.disable{
	color:#808080;filter:dropshadow(color=#FFFFFF,offx=1,offy=1,positive=1);
}
.invisible{
	display:none;
}

.P	{PADDING-LEFT:4px;PADDING-RIGHT:4px;CURSOR:hand}
.T	{PADDING-LEFT:3px;PADDING-RIGHT:3px;BACKGROUND-COLOR:#e9f2f8;BORDER:1px solid #336699;CURSOR:hand}

.normal		{color: #000000;background-color: #eeeeee}
.highlight	{color: #ffffff;background-color: #000080}

.httpFolder {behavior: url(#default#httpFolder);}

.help{
	color: #555657;
	font-size: 12px;
	text-decoration: underline;
	padding-left:5px;
	cursor:help;
}
.lionrong {
	background-color: #FFFFE1;
	border: 1px double #000000;
	font-size:12px;
	color:#000000;
	line-height: 18px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:10px;
	filter: progid:DXImageTransform.Microsoft.DropShadow(color=#C5C5C5,offX=2,offY=2,positives=true);
}