* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  background: #F3F3F3;
}

input {
  border: none;
  outline: none;
}

select {
  outline: none;
}

#hgjyh {
  background: url(./imgs/hgjyh/bj.png);
  overflow: hidden;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .menu-bar {
    width: 1235px;
    height: 60px;
    margin: 20px auto;
    display: flex;

    .item {
      background: url('./imgs/hgjyh/menu.png') no-repeat;
      background-size: 100% 100%;
      width: 300px;
      color: #82e5fe;
      font-size: 20px;
      text-indent: 20px;
      line-height: 50px;
      cursor: pointer;

      &.active {
        font-size: 24px;
        background: url('./imgs/hgjyh/amenu.png') no-repeat;
        background-size: 100% 100%;
        text-indent: 30px;
        color: white;
        text-shadow: 1px 1px 19px #ffffff90;
        line-height: 60px;
      }
    }
  }

  .mainframe {
    background: url('./imgs/hgjyh/dk1.png');
    width: 1235px;
    height: 560px;
    background-size: 100% 100%;
    margin: 20px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .content {
      .title {
        margin-bottom: 20px;
      }
      height: 460px;
      overflow-y: scroll;
      color: #2aa1b8;
      width: 440px;
      line-height: 24px;
    }
    .photo-body {
      width: 730px;
      height: 480px;
      background: url('./imgs/hgjyh/bg1.png');
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      .lefts {
        width: 150px;
        margin: auto 10px auto 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 408px;
        .item {
          width: 100%;
          height: 95px;
          border: 1px solid #4471c2;
          cursor: pointer;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .right-main {
        width: 530px;
        height: 408px;
        border: 1px solid #4471c2;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/*定义滚动条轨道
 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #2aa1b8;
}
